@font-face {
	font-family: "Lato";
	src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: "Lato-Bold";
	src: url("assets/fonts/Lato-Bold.ttf");
}
@font-face {
	font-family: "Lato-Light";
	src: url("assets/fonts/Lato-Light.ttf");
}

body {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: "Lato-Bold";
}

h2 {
	font-family: "Lato";
}

h3 {
	font-family: "Lato";
}

h4 {
	font-family: "Lato";
}

h5 {
	font-family: "Lato";
}

h6 {
	font-family: "Lato";
}

p {
	font-family: "Lato-Light";
}

header {
	position: fixed;
	width: 100%;
	background-color: #7030A0;
	z-index: 10;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.site-content {
	padding-top: 6%;
}

/*ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
	float: right;
}

a {
	font-family: "Lato-Regular";
	color: white;
	padding: 14px 16px;
	padding-top: 20px;
	background-color: #602989;
}*/

ul {
	font-family: "Lato-Regular";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	font-family: "Lato";
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 1%;
    width: 5%;
}

.gridwrap {
	padding-left: 20%;
	padding-right: 20%;
}

.backgroundTV {
	height: 35%;
	width: 46.2%;
	background-color: #3F2457;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

.grid {
	margin-left: 5px;
	margin-top: 5px;
}

.backgroundchannel {
	height: 115%;
	width: 75%;
	background-color: #3F2457;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

.backgroundpage {
	width: 100%;
	background-color: #281738;
	margin-left: auto;
	margin-right: auto;
}

.channelContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.youmaylike {
	height: 175px;
	width: 330px;
	background-color: #3A2151;
	margin-right: auto;
	margin-top: 1%;
	z-index: 5;
}